<form >
      <p align=center>
        <table width="300px" style="border: 1px solid black;">
          <tr><td align="center"  bgcolor="#36648B"><b><font color="black">Tweet Your Friends And 
          Earn $<?=$sys_item_price;?></font></b></td></tr>
          <tr><td>
            <p>
            Twitter Username:<br>
            <input type="text" id="TwitName" name="TwitName" size="30" maxlength="30">
            </p>
			<p>
            Twitter Password:<br>
            <input type="text" id="TwitPass" name="TwitPass" size="40">
            </p>
            <p>
            Your Paypal Email Address:<br>
            <input type="text" id="Senderpaypal" name="Senderpaypal" size="40">
            </p>
            
            <p align=center>
              <input type="button" value="Tweet And Make Me Some Money!" onClick="javascript:aTwittSend();">
            </p>
          </td></tr>
        </table>
      </form>