<html>
<head>
<title>testimonial-box-gold</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- ImageReady Slices (testimonial-box-gold.jpg) -->
<div align="center">
  <center>
<table id="Table_01" width="600" height="300" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111">
	<tr>
		<td colspan="3">
			<img src="images/testimonial-box-gold_01.jpg" alt="" width="600" height="111"></td>
	</tr>
	<tr>
		<td background="images/testimonial-box-gold_02.jpg" width="42" height="147">
			&nbsp;</td>
		<td background="images/testimonial-box-gold_03.jpg" width="517" height="147" valign="top">
			<font face="MS Sans Serif" style="font-size:18px"><strong>[SUBJECT]</strong></font><p><font face="MS Sans Serif">[TESTIMONIAL]<br>[VIDEO]<br><br>
<strong>[VISUALNAME]</strong> <I>[LOCATION]</I></font></p>
&nbsp;</td>
		<td background="images/testimonial-box-gold_04.jpg" width="41" height="147">
			&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="images/testimonial-box-gold_05.jpg" alt="" width="600" height="42"></td>
	</tr>
</table>
  </center>
</div>
<!-- End ImageReady Slices -->
</body>
</html>