
<div align="center">
  <center>
<table id="Table_01" width="432" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111">
	<tr>
		<td colspan="3">
			<img src="images/testimonialbox18_01.jpg" alt="" width="432" height="60"></td>
	</tr>
	<tr>
		<td background="images/testimonialbox18_02.jpg" width="62" height="49">
			&nbsp;</td>
		<td background="images/testimonialbox18_03.jpg" width="362" valign="top" rowspan="2">
			<font color="#000000" face="MS Sans Serif" style="font-size:18px"><strong>[SUBJECT]</strong></font><p>
            <font color="#000000" face="MS Sans Serif">[TESTIMONIAL]<br>[VIDEO]<br><br>
<strong>[VISUALNAME]</strong> <I>[LOCATION]</I></font></td>
		<td background="images/testimonialbox18_06.jpg" width="7"  rowspan="2">
			&nbsp;</td>
	</tr>
	<tr>
		
		<td background="images/testimonialbox18_10.jpg" width="62" >
			&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="images/testimonialbox18_13.jpg" alt="" width="432" height="42"></td>
	</tr>
</table>
  </center>
</div>
