<table align="center" border="0" cellpadding="0" cellspacing="0" width="450">
 <tr>
  <td><img src="images/shim.gif" width="18" height="1" border="0" alt=""></td>
  <td><img src="images/shim.gif" width="414" height="1" border="0" alt=""></td>
  <td><img src="images/shim.gif" width="18" height="1" border="0" alt=""></td>
  <td><img src="images/shim.gif" width="1" height="1" border="0" alt=""></td>
 </tr>

 <tr>
 <td valign="top" align="left" colspan="3" height="119"><img name="test_box_C1_R1" src="images/test_box_C1_R1.jpg" width="450" height="119" border="0" alt=""></td>
  <td width="1" height="119"><img src="images/shim.gif" width="1" height="119" border="0" alt=""></td>
 </tr>

 <tr>
 <td background="images/test_box_C1_R2.jpg" valign="top" align="left" width="18" height="275"></td>

<!-- This table cell contains all your content -->

 <td background="images/test_box_C2_R2.jpg" valign="top" align="left" width="414" height="275">
<p style="color: rgb(0, 0, 0); font-family : Arial; font-size: 14px; font-weight: normal;"><font style="font-size:16px"><strong>[SUBJECT]</strong></font><br><br>
[TESTIMONIAL]<br>[VIDEO]<br><br>
<strong>[VISUALNAME]</strong> <I>[LOCATION]</I>
</p>


</td>


</td>

<!-- End table cell -->

 <td background="images/test_box_C3_R2.jpg" valign="top" align="left" width="18" height="275"></td>
  <td width="1" height="275"><img src="images/shim.gif" width="1" height="275" border="0" alt=""></td>
 </tr>
 <tr>
 <td valign="top" align="left" colspan="3" height="56"><img name="test_box_C1_R3" src="images/test_box_C1_R3.jpg" width="450" height="56" border="0" alt=""></td>
  <td width="1" height="56"><img src="images/shim.gif" width="1" height="56" border="0" alt=""></td>
 </tr>
</table>
