

/* Div dimentions */

#gl-opt-disp-set {
	background-color:#fbe9d7;
	width: 700px;
}

#modulelist { 
	background-color:#FFFFFF;
	/*display:inline;*/
	width:300px;
	padding: 10px 20px 10px 20px;
	vertical-align: top;
}

#moduledetails { 
	background-color:#FFFFFF;
	display:inline-block;
	width:600px;
	padding: 10px 20px 10px 20px;
	vertical-align: top;
}

#Modulename { 
	background-color:#ffeebb;
	display:table-row;
	/* width: 60%; */
	padding: 10px 20px 10px 20px;
	vertical-align: middle;
	font-family: Georgia;
	font-family: Arial;
	font-size: 22pt;
	font-weight:bold;
	word-spacing: -1px;
	letter-spacing: -1px;
	
}

#ModuleDescription { 
	background-color:#EFFEFE;
	display:table-row;
	/* width: 60%; */
	padding: 10px 20px 10px 20px;
	vertical-align: top;
	font-family: Georgia;
	font-family: Arial;
	font-size: 16pt;
	word-spacing: -1px;
	letter-spacing: -1px;
}

#sectionlist { 
	background-color:#FFFFFF;
	/*display:inline;*/
	width:300px;
	padding: 10px 20px 10px 20px;
	vertical-align: top;
}

#sectiondetails { 
	background-color:#FFFFFF;
	display:inline-block;
	width:600px;
	padding: 10px 20px 10px 20px;
	vertical-align: top;
}

#Sectionname { 
	background-color:#ffeebb;
	display:table-row;
	/* width: 60%; */
	padding: 10px 20px 10px 20px;
	vertical-align: middle;
	font-family: Georgia;
	font-family: Arial;
	font-size: 22pt;
	font-weight:bold;
	word-spacing: -1px;
	letter-spacing: -1px;
	
}

#SectionDescription { 
	background-color:#EFFEFE;
	display:table-row;
	/* width: 60%; */
	padding: 10px 20px 10px 20px;
	vertical-align: top;
	font-family: Georgia;
	font-family: Arial;
	font-size: 16pt;
	word-spacing: -1px;
	letter-spacing: -1px;
}

#buttonrow { 
	background-color:#FFFFFF;
	display:table-row;
	width:600px;
	padding: 10px 20px 10px 20px;
	vertical-align: middle;
}

#taglist { 
	background-color:#FFFFFF;
	/*display:inline;*/
	width:500px;
	padding: 10px 20px 10px 20px;
	vertical-align: top;
}

#tagdetails { 
	background-color:#FFFFFF;
	display:inline-block;
	width:600px;
	padding: 10px 20px 10px 20px;
	vertical-align: top;
}

#Tagname { 
	background-color:#ffeebb;
	display:table-row;
	/* width: 60%; */
	padding: 10px 20px 10px 20px;
	vertical-align: middle;
	font-family: Georgia;
	font-family: Arial;
	font-size: 22pt;
	font-weight:bold;
	word-spacing: -1px;
	letter-spacing: -1px;
	
}

#TagDescription { 
	background-color:#EFFEFE;
	display:table-row;
	/* width: 60%; */
	padding: 10px 20px 10px 20px;
	vertical-align: top;
	font-family: Georgia;
	font-family: Arial;
	font-size: 16pt;
	word-spacing: -1px;
	letter-spacing: -1px;
}
#EditButton {
	background: transparent url(../images/edit.png) no-repeat;
	
	width: 48px;
	height: 48px;
	
}

#CopyButton {
	background: transparent url(../images/copy.png) no-repeat;
	display:inline-block;
	width: 48px;
	height: 48px;
	
}

#DeleteButton {
	background: transparent url(../images/delete.png) no-repeat;
	width: 48px;
	height: 48px;
	display:table-cell;
}

#tags {
	font-size: 12pt;
}

/* Styles for the entire LavaLamp menu */
.lavaLamp {
    position: relative;
    height: 29px; width: 421px;
    background: url("/rap_admin/addons/GIS/themes/images/bg.gif") no-repeat top;
    padding: 15px; margin: 10px 0;
    overflow: hidden;
}
/* Force the list to flow horizontally */
.lavaLamp li {
    float: left;
    list-style: none;
}
/* Represents the background of the highlighted menu-item. */
.lavaLamp li.back {
    background: url("/rap_admin/addons/GIS/themes/images/lava.png") no-repeat right ;
    width: 9px; height: 30px;
    z-index: 8;
    position: absolute;
}
.lavaLamp li.back .left {
    background: url("/rap_admin/addons/GIS/themes/images/lava.png") no-repeat top left;
    height: 30px;
    margin-right: 9px;
}
/* Styles for each menu-item. */
.lavaLamp li a {
    position: relative; overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    font: bold 14px arial;
    color: #fff; outline: none;
    text-align: center;
    height: 30px; top: 7px;
    z-index: 10; letter-spacing: 0;
    float: left; display: block;
    margin: auto 10px;
}

/* Styles for the entire LavaLamp menu */
.lavaLamp2 {
    position: relative;
    height: 29px; width: 421px;
    background: url("/rap_admin/addons/GIS/themes/images/bg.gif") no-repeat top;
    padding: 15px; margin: 10px 0;
    overflow: hidden;
}
/* Force the list to flow horizontally */
.lavaLamp2 li {
    float: left;
    list-style: none;
}
/* Represents the background of the highlighted menu-item. */
.lavaLamp2 li.back {
    background: url("/rap_admin/addons/GIS/themes/images/lava.png") no-repeat right ;
    width: 9px; height: 30px;
    z-index: 8;
    position: absolute;
}
.lavaLamp2 li.back .left {
    background: url("/rap_admin/addons/GIS/themes/images/lava.png") no-repeat top left;
    height: 30px;
    margin-right: 9px;
}
/* Styles for each menu-item. */
.lavaLamp2 li a {
    position: relative; overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    font: bold 14px arial;
    color: #fff; outline: none;
    text-align: center;
    height: 30px; top: 7px;
    z-index: 10; letter-spacing: 0;
    float: left; display: block;
    margin: auto 10px;
}

/* Rounded Box CSS */
div.rounded-box-green {
    width: 80%;
    background-color: #bbffbb;
    margin: 3px;
	font-family: Georgia;
	font-family: Arial;
	font-size: 14pt;
	word-spacing: -1px;
	letter-spacing: -1px;
}
div.rounded-box-red {
    width: 80%;
    background-color: #ffbbbb;
    margin: 3px;
	font-family: Georgia;
	font-family: Arial;
	font-size: 14pt;
	word-spacing: -1px;
	letter-spacing: -1px;
}
div.rounded-box-yellow {
    width: 80%;
    background-color: #f6e287;
    margin: 3px;
	font-family: Georgia;
	font-family: Arial;
	font-size: 14pt;
	word-spacing: -1px;
	letter-spacing: -1px;
}
div.rounded-box {
    width: 80%;
    background-color: #ffeebb;
    margin: 3px;
	font-family: Georgia;
	font-family: Arial;
	font-size: 14pt;
	word-spacing: -1px;
	letter-spacing: -1px;
}

div.box-contents {
    margin: 7px;
	font-family: Georgia;
	font-family: Arial;
	font-size: 14pt;
	word-spacing: 1px;
	letter-spacing: 0px;
}
#submit{
	font-weight:bold; 
	font-size:14pt; 
	padding:2px 15px 5px 15px; 
	background-color:light-green; 
	border:4px green solid;
	height:40px
}

#cancel{
	font-weight:bold; 
	font-size:14pt; 
	padding:2px 15px 5px 15px; 
	background-color:light-red; 
	border:4px red solid;
	height:40px
}


input, select{
	font-size:14pt; 
	padding:2px
}

/* yesno checkbox */

.checklist {
    list-style: none;
    margin: 0;
    padding: 0;
	font-size: 14pt;
}
 
.checklist li {
   /* float: left; */
    margin-right: 10px;
    background: url(../images/checkboxbg.png) no-repeat 0 0;
	background-position: 0 -35px;
    width: 500px;
    height: 35px;
    position: relative; 
    /* font: normal 11px/1.3 "Lucida Grande","Lucida","Arial",Sans-serif; */
}
 
.checklist li.selected {
    background-position: 0 0;
}
 
.checklist li.selected .checkbox-select {
    display: none;
}
 
.checkbox-select {
    display: block;
    float: left;
    position: absolute;
    top: 3px;
    left: 10px;
    width: 45px;
    height: 32px;
    background: url(../images/delete32x32.png) no-repeat 0 0;
    text-indent: -9999px;
}
 
.checklist li input {
    display: none;
}
 
a.checkbox-deselect {
    display: none;
    color: black;
    position: absolute;
    top: 3px;
	width: 45px;
	height: 32px;
    left: 10px;
	background: url(../images/accept.png) no-repeat 0 0;
    text-indent: -9999px;
}
 
.checklist li.selected a.checkbox-deselect {
    display: block;
}
 
.checklist li label {
    display: block;
    text-align: left;
	text-indent: 55px;
    padding: 8px;
}


/* link formatting */

a:active { 
	outline: none; 
}

a:focus { 
	-moz-outline-style: none; 
}

.subhead-big
{
	text-transform: capitalize;
	font-family: "Trebuchet MS";
	font-family: Tahoma;
	font-size: 16pt;
	word-spacing: -1px;
	letter-spacing: -1px;
	font-weight: bold;
}

.georgia-big
{
	text-transform: capitalize;
	font-family: Georgia;
	font-family: Arial;
	font-size: 16pt;
	word-spacing: -1px;
	letter-spacing: -1px;
	font-weight: 600;
}

.georgia-medium
{
	font-family: Georgia;
	font-family: Arial;
	font-size: 14pt;
	word-spacing: -1px;
	letter-spacing: -1px;
	font-weight: 600;
}

.georgia-regular
{
	font-family: Georgia;
	font-family: Arial;
	font-size: 12pt;
	word-spacing: -1px;
	letter-spacing: -1px;

}

.georgia-small
{
	font-family: Georgia;
	font-family: Arial;
	font-size: 10pt;
	word-spacing: 1px;
	letter-spacing: 0px;
}

.georgia {
	font-family: Georgia;
}

.Prompts { 
	font-family: Georgia;
	font-family: Arial;
	font-size: 14pt;
	word-spacing: -1px;
	letter-spacing: -1px;
}

.titles-big {
	color: #333;
	font-size: 24px;
	margin-bottom:12px;
}

span.subheading-section {
	text-transform: capitalize;
	font-family: Georgia;
	font-size: 16pt;
}

.subheading-section {
	text-transform: capitalize;
	font-family: Georgia;
	font-size: 16pt;
}

div.admin_custommodules {
	background: transparent url(../images/toolbox.png) no-repeat 0px 0px;
	padding-left: 55px;
	display:block;
	width: 49px;
	height: 49px;
}

div.admin_module {
	background: transparent url(../images/computer_process.png) no-repeat 0px 0px;
	padding-left: 55px;
	display:block;
	width: 49px;
	height: 49px;
}

div.admin_advanced {
	background: transparent url(../images/tools48x48.png) no-repeat 0px 0px;
	padding-left: 55px;
	display:block;
	width: 49px;
	height: 49px;
}

div.admin_themes {
	background: transparent url(../images/artwork48x48.png) no-repeat 0px 0px;
	padding-left: 55px;
	display:block;
	width: 49px;
	height: 49px;
}

div.gis-container-global, div.gis-container-products, div.gis-section {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

div.gis-section {
	background: transparent url(../images/2265500_1253295923_master.png) repeat-x;
	padding-left: 15px;
	padding-top: 15px;
}

/* font styling */
.b { 
	font-weight: bold;
}

.i { 
	font-style: italic; 
}


div.gis-container-global, div.gis-container-products {
	border-bottom: 1px dotted silver;
}

div.gis-content {
	margin-left: 0px;
}

.clear-fix {
	clear:both;
}

.hilite-yellow{ 
	background-color:#ffffcc; 
	border:1px dotted silver;
}

.hilite-yellow-noborder{ 
	background-color:#ffffcc; 
	border:0px dotted silver;
}




/* Alignment Classes */
.tright { 
	text-align: right; 
}

.tleft { 
	text-align: left; 
}

.right { 
	float: right; 
}

.left { 
	float: left; 
}

.content-wrapper { 
	width: 100%; 
}

.content-wrapper { 	
	clear: both; 
}

.main { 
	text-align: left; 
 	margin-bottom: 20px; 
}

/* margins and padding */
.margin-tb-15 { 
	margin-top: 	15px; 
	margin-bottom: 	15px; 
}

.padding-rl-20 { 
	padding-right:	20px;  
	padding-left:	20px; 
}

.padding-rl-10 { 
	padding-right:	10px;  
	padding-left:	10px; 
}

/* colors */
.gray { 
	color: #888; 
}

.darkred { 
	color: #cc0000; 
}

.brightblue { 
	color: #0fbbff; 
}

.green{
	color:green
}

.red{
	color:red
}


/*----------------------------------------------

		rnded corner buttons

------------------------------------------------*/


.smallbutton-text {
	font-family: 'Trebuchet MS',Arial,Georgia;
	font-size: 12pt;
	line-height: 130%;
	font-style: italic;
	font-weight: bold;
	letter-spacing: -1px;
}

/* for large buttons */
.image, .image-medium, .image-small {
	position: relative;
	float: left;
	margin-right: 4px;
	padding: 5px 5px;
}

.image img {
	display: block;
}




/* simple pager jquery css */

ul.simplePagerNav li{
    display:block;
    float: left;
    padding: 7px 10px;
    margin-bottom: 10px;
    font-family: "Trebuchet MS";
	font-size: 11pt;
	font-weight: bold;
	border: 1px solid #ddd;
	margin-right: 2px;
	margin-left: 2px;
}

ul.simplePagerNav li a{
    color: #333;
    text-decoration: none;
}

li.currentPage {
	background: red;
    background: #83bd63;	
}

ul.simplePagerPerPage li{
    display:block;
    float: left;
    padding: 7px 10px;
    margin-bottom: 10px;
    font-family: "Trebuchet MS";
	font-size: 11pt;
	font-weight: bold;
	border: 1px solid #ddd;
	margin-right: 2px;
	margin-left: 2px;
}

ul.simplePagerPerPage li a{
    color: #333;
    text-decoration: none;
}

li.currentPerPage {
	background: #cc0000;
	background: #3DB3C2;
/*
    background: #83bd63;	
*/
}

ul.simplePagerNav li.currentPage a, ul.simplePagerPerPage li.currentPerPage a {
	color: #fff;	
}

table.pageme {
    border-collapse: collapse;
    border: 1px solid #ccc;
}  

table.pageme td {
    border-collapse: collapse;
    border: 1px solid #ccc;
}      

