
<div align="center">
  <center>
<table id="Table_01" width="546" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111">
	<tr>
		<td colspan="3">
			<img src="images/testimonial-box4_03.jpg" alt="" width="546" height="62"></td>
	</tr>
	<tr>
		<td background="images/testimonial-box4_06.jpg" width="546" >
			&nbsp;<table><tr><td>&nbsp;&nbsp;</td><td>
		
			<font color="#FFFFFF" face="MS Sans Serif" style="font-size:18px"><strong>[SUBJECT]</strong></font><p>
            <font color="#FFFFFF" face="MS Sans Serif">[TESTIMONIAL]<br>[VIDEO]<br><br>
<strong>[VISUALNAME]</strong> <I>[LOCATION]</I></font></td></tr></table>
		</td>
	</tr>
	
	<tr>
		<td colspan="3">
			<img src="images/testimonial-box4_08.jpg" alt="" width="546" height="19"></td>
	</tr>
</table>
  </center>
</div>
