
<div align="center">
  <center>
<table id="Table_01" width="450" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111">
	<tr>
		<td colspan="3">
			<img src="images/testimonialbox7_03.png" alt="" width="450" height="102"></td>
	</tr>
	<tr>
		<td background="images/testimonialbox7_06.png" width="450" colspan="2">
			<table width="90%"><tr><td width="10">&nbsp;</td><td>
			<font color="#FFFFFF" face="MS Sans Serif" style="font-size:18px"><strong>[SUBJECT]</strong></font><p>
            <font color="#FFFFFF" face="MS Sans Serif">[TESTIMONIAL]<br>[VIDEO]<br><br>
<strong>[VISUALNAME]</strong> <I>[LOCATION]</I></font></td></tr></table></td></tr>
		

	<tr>
		<td colspan="3">
			<img src="images/testimonialbox7_08.png" alt="" width="450" height="25"></td>
	</tr>
</table>
  </center>
</div>
