
<div align="center">
  <center>
<table id="Table_01" width="451" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111">
	<tr>
		<td colspan="3">
			<img src="images/testimonialbox2_02.png" alt="" width="451" height="113"></td>
	</tr>
	<tr>
		<td background="images/testimonialbox2_04.png" width="450" colspan="2">
			<table width="90%"><tr><td width="10">&nbsp;</td><td>
			<font color="#FFFFFF" face="MS Sans Serif" style="font-size:18px"><strong>[SUBJECT]</strong></font><p>
            <font color="#FFFFFF" face="MS Sans Serif">[TESTIMONIAL]<br>[VIDEO]<br></td></tr></table></td></tr>
		<tr><td background="images/testimonialbox2_07.png" width="313" valign="top" >
			<table><tr><td width="10">&nbsp;</td><td><br>
<strong>[VISUALNAME]</strong> <I>[LOCATION]</I></font></td></tr></table></td>
		<td background="images/testimonialbox2_06.png" width="136" height="49">
			&nbsp;</td>
	</tr>

	<tr>
		<td colspan="3">
			<img src="images/testimonialbox2_08.png" alt="" width="451" height="85"></td>
	</tr>
</table>
  </center>
</div>
